# ITCS 6162: Data Mining - Programming Assignment

**In this assignment, you will explore data analysis, recommendation algorithms, and graph-based techniques using the MovieLens dataset. Your tasks will range from basic data exploration to advanced recommendation models, including:**
- Data manipulation with pandas
- User-item collaborative filtering
- Similarity-based recommendation models
- A Pixie-inspired Graph-based recommendation using adjacency lists with weighted random walks (without using NetworkX)

#### **Dataset Files:**
- **`u.data`**: User-movie ratings (`user_id  movie_id  rating  timestamp`)
- **`u.item`**: Movie metadata (`movie_id | title | release date | IMDB_website`)
- **`u.user`**: User demographics (`user_id | age | gender | occupation | zip_code`)

## **Part 1: Exploring and Cleaning Data**

### Inspecting the Dataset Format

The dataset is not in a traditional CSV format. To examine its structure, use the following shell command to display the first 10 lines of the file:

```sh
!head <file_name>

**In the cells given below. Write the code to read the files.**

In [1]:
!head data/u.data

196	242	3	881250949
186	302	3	891717742
22	377	1	878887116
244	51	2	880606923
166	346	1	886397596
298	474	4	884182806
115	265	2	881171488
253	465	5	891628467
305	451	3	886324817
6	86	3	883603013

In [2]:
!head data/u.item

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [3]:
!head data/u.user

1|24|M|technician|85711
2|53|F|other|94043
3|23|M|writer|32067
4|24|M|technician|43537
5|33|F|other|15213
6|42|M|executive|98101
7|57|M|administrator|91344
8|36|M|administrator|05201
9|29|M|student|01002
10|53|M|lawyer|90703

#### Loading the Dataset with Pandas

Use **pandas** to load the dataset into a DataFrame for analysis. Follow these steps:  

1. Import the necessary library: `pandas`.  
2. Use `pd.read_csv()` (or an appropriate function) to read the dataset file.  
3. Ensure the dataset is loaded with the correct delimiter (e.g., `','`, `'\t'`,`'|'` , or another separator if needed).  
4. Select and display the first few rows using `.head()`.

Ensure that:  

- The `ratings` dataset is read from `"u.data"` using tab (`'\t'`) as a separator and column names (`"user_id"`, `"movie_id"`, `"rating"` and `"timestamp"`).  
- The `movies` dataset is read from `"u.item"` using `'|'` as a separator, use columns (`0`, `1`, `2`), encoding (`"latin-1"`) and name the columns (`movie_id`, `title`, and `release_date`).  
- The `users` dataset is read from `"u.user"` using `'|'` as a separator, use columns (`0`, `1`, `2`, `3`) and name the columns (`user_id`, `age`, `gender`, and `occupation`).

In [4]:
import pandas as pd

In [5]:
ratings = pd.read_csv('data/u.data', sep = '\t', header = None, names = ['user_id', 'movie_id', 'rating', 'timestamp'])
ratings

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [6]:
movies = pd.read_csv('data/u.item', sep = '|', usecols = [0, 1, 2], encoding = 'latin-1', names = ['movie_id', 'title', 'release_date'])
movies

      movie_id                                      title release_date
0            1                           Toy Story (1995)  01-Jan-1995
1            2                           GoldenEye (1995)  01-Jan-1995
2            3                          Four Rooms (1995)  01-Jan-1995
3            4                          Get Shorty (1995)  01-Jan-1995
4            5                             Copycat (1995)  01-Jan-1995
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)  06-Feb-1998
1678      1679                           B. Monkey (1998)  06-Feb-1998
1679      1680                       Sliding Doors (1998)  01-Jan-1998
1680      1681                        You So Crazy (1994)  01-Jan-1994
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  08-Mar-1996

[1682 rows x 3 columns]

In [7]:
users = pd.read_csv('data/u.user', sep = '|', usecols = [0, 1, 2, 3], names = ['user_id', 'age', 'gender', 'occupation'])
users

     user_id  age gender     occupation
0          1   24      M     technician
1          2   53      F          other
2          3   23      M         writer
3          4   24      M     technician
4          5   33      F          other
..       ...  ...    ...            ...
938      939   26      F        student
939      940   32      M  administrator
940      941   20      M        student
941      942   48      F      librarian
942      943   22      M        student

[943 rows x 4 columns]

**Note:** As a **Bonus** task save the `ratings`, `movies` and `users` dataframe created into a `.csv` file format. <br>
**Hint:** Use the `to_csv()` function in pandas to save these DataFrames as CSV files.

In [8]:
ratings.to_csv('data/ratings.csv')

In [9]:
movies.to_csv('data/movies.csv')

In [10]:
users.to_csv('data/users.csv')

**Display the first 10 rows of each file.**

In [11]:
ratings.head(10)

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596
5      298       474       4  884182806
6      115       265       2  881171488
7      253       465       5  891628467
8      305       451       3  886324817
9        6        86       3  883603013

In [12]:
movies.head(10)

   movie_id                                              title release_date
0         1                                   Toy Story (1995)  01-Jan-1995
1         2                                   GoldenEye (1995)  01-Jan-1995
2         3                                  Four Rooms (1995)  01-Jan-1995
3         4                                  Get Shorty (1995)  01-Jan-1995
4         5                                     Copycat (1995)  01-Jan-1995
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  01-Jan-1995
6         7                              Twelve Monkeys (1995)  01-Jan-1995
7         8                                        Babe (1995)  01-Jan-1995
8         9                            Dead Man Walking (1995)  01-Jan-1995
9        10                                 Richard III (1995)  22-Jan-1996

In [13]:
users.head(10)

   user_id  age gender     occupation
0        1   24      M     technician
1        2   53      F          other
2        3   23      M         writer
3        4   24      M     technician
4        5   33      F          other
5        6   42      M      executive
6        7   57      M  administrator
7        8   36      M  administrator
8        9   29      M        student
9       10   53      M         lawyer

### Data Cleaning and Exploration with Pandas  

After loading the dataset, it’s important to clean and explore the data to ensure consistency and accuracy. Below are key **pandas** functions for cleaning and understanding the dataset.

#### 1. Handle Missing Values  
- `df.dropna()` – Removes rows with missing values.  
- `df.fillna(value)` – Fills missing values with a specified value.  

#### 2. Remove Duplicates  
- `df.drop_duplicates()` – Drops duplicate rows from the dataset.  

#### 3. Handle Incorrect Data Types  
- `df.astype(dtype)` – Converts columns to the appropriate data type.  

#### 4. Filter Outliers (if applicable)  
- `df[df['column_name'] > threshold]` – Filters rows based on a condition.  

#### 5. Rename Columns (if needed)  
- `df.rename(columns={'old_name': 'new_name'})` – Renames columns for clarity.  

#### 6. Reset Index  
- `df.reset_index(drop=True, inplace=True)` – Resets the index after cleaning.  

### Data Exploration Functions  

To better understand the dataset, use these **pandas** functions:  

- `df.shape` – Returns the number of rows and columns in the dataset.  
- `df.nunique()` – Displays the number of unique values in each column.  
- `df['column_name'].unique()` – Returns unique values in a specific column.  

**Example Usage in Pandas:**  
```python
import pandas as pd

# Load dataset
df = pd.read_csv("your_file.csv")

# Drop missing values
df_cleaned = df.dropna()

# Remove duplicate rows
df_cleaned = df_cleaned.drop_duplicates()

# Convert 'timestamp' column to datetime format
df_cleaned['timestamp'] = pd.to_datetime(df_cleaned['timestamp'])

# Display dataset shape
print("Dataset shape:", df_cleaned.shape)

# Display number of unique values in each column
print("Unique values per column:\n", df_cleaned.nunique())

# Display unique movie IDs
print("Unique movie IDs:", df_cleaned['movie_id'].unique()[:10])  # Show first 10 unique movie IDs

**Note:** The functions mentioned above are some of the widely used **pandas** functions for data cleaning and exploration. However, it is not necessary that all of these functions will be required in the exercises below. Use them as needed based on the dataset and the specific tasks.

**Convert Timestamps into readable dates.**

In [14]:
movies['release_date'] = pd.to_datetime(movies['release_date'])
movies

      movie_id                                      title release_date
0            1                           Toy Story (1995)   1995-01-01
1            2                           GoldenEye (1995)   1995-01-01
2            3                          Four Rooms (1995)   1995-01-01
3            4                          Get Shorty (1995)   1995-01-01
4            5                             Copycat (1995)   1995-01-01
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)   1998-02-06
1678      1679                           B. Monkey (1998)   1998-02-06
1679      1680                       Sliding Doors (1998)   1998-01-01
1680      1681                        You So Crazy (1994)   1994-01-01
1681      1682  Scream of Stone (Schrei aus Stein) (1991)   1996-03-08

[1682 rows x 3 columns]

**Check for missing values**

In [15]:
ratings.isna().any()

user_id      False
movie_id     False
rating       False
timestamp    False
dtype: bool

In [16]:
movies.isna().any()

movie_id        False
title           False
release_date     True
dtype: bool

In [17]:
movies.dropna(inplace = True)

In [18]:
users.isna().any()

user_id       False
age           False
gender        False
occupation    False
dtype: bool

**Remove/check for duplicates**

In [19]:
ratings.duplicated().any()

False

In [20]:
movies.duplicated().any()

False

In [21]:
users.duplicated().any()

False

**Print the total number of users, movies, and ratings.**

In [22]:
print(f"Total Users: {users.shape[0]}")
print(f"Total Movies: {movies.shape[0]}")
print(f"Total Ratings: {ratings.shape[0]}")

Total Users: 943
Total Movies: 1681
Total Ratings: 100000

## **Part 2: Collaborative Filtering-Based Recommendation**

### **Create a User-Item Matrix**

#### Instructions for Creating a User-Movie Rating Matrix

In this exercise, you will create a user-movie rating matrix using **pandas**. This matrix will represent the ratings that users have given to different movies.

1. **Dataset Overview**:  
   The dataset has already been loaded. It includes the following key columns:
   - `user_id`: The ID of the user.
   - `movie_id`: The ID of the movie.
   - `ratings`: The rating the user gave to the movie.

2. **Create the User-Movie Rating Matrix**:  
   Use the **`pivot()`** function in **pandas** to reshape the data. Your goal is to create a matrix where:
   - Each **row** represents a **user**.
   - Each **column** represents a **movie**.
   - Each **cell** contains the **rating** that the user has given to the movie.

   Specify the following parameters for the `pivot()` function:
   - **`index`**: The `user_id` column (this will define the rows).
   - **`columns`**: The `movie_id` column (this will define the columns).
   - **`values`**: The `rating` column (this will fill the matrix with ratings).

3. **Inspect the Matrix**:  
   After creating the matrix, examine the first few rows of the resulting matrix to ensure it has been constructed correctly.

4. **Handle Missing Values**:  
   It's likely that some users have not rated every movie, resulting in `NaN` values in the matrix. You will need to handle these missing values. Consider the following options:
   - **Fill with 0**: If you wish to represent missing ratings as zeros (indicating no rating).
   - **Fill with the average rating**: Alternatively, replace missing values with the average rating for each movie.

**Create the user-movie rating matrix using the `pivot()` function.**

In [23]:
user_movie_matrix = ratings.pivot(index = 'user_id', columns = 'movie_id', values = 'rating')

**Display the matrix to verify the transformation.**

In [24]:
user_movie_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
user_movie_matrix.fillna(0, inplace = True)
# user_movie_matrix.fillna(user_movie_matrix.mean(), inplace = True)
user_movie_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### **User-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement a **user-based collaborative filtering** movie recommendation system using the **Movie dataset**. The goal is to recommend movies to a user based on the preferences of similar users.

##### **Step 1: Import Required Libraries**
Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity
```

In [26]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

##### **Step 2: Compute User-User Similarity**
- We will use **cosine similarity** to measure how similar each pair of users is based on their movie ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.

##### **Instructions:**
1. Fill missing values with `0` using `.fillna(0)`.
2. Compute similarity using `cosine_similarity()`.
3. Convert the result into a **Pandas DataFrame**, with users as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
user_similarity = cosine_similarity(user_movie_matrix.fillna(0))
user_sim_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)
```

In [27]:
def get_similar_user_matrix() -> pd.DataFrame:
    sim = cosine_similarity(user_movie_matrix)   
    return pd.DataFrame(sim, index = user_movie_matrix.index, columns = user_movie_matrix.index)

##### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies_for_user(user_id, num=5)` to recommend movies for a given user.

##### **Function Inputs:**
- `user_id`: The target user for whom we need recommendations.
- `num`: The number of movies to recommend (default is 5).

##### **Function Steps:**
1. Find **similar users**:
   - Retrieve the similarity scores for the given `user_id`.
   - Sort them in **descending** order (highest similarity first).
   - Exclude the user themselves.
   
2. Get the **movie ratings** from these similar users.

3. Compute the **average rating** for each movie based on these users' preferences.

4. Sort the movies in **descending order** based on the computed average ratings.

5. Retrieve the **top `num` recommended movies**.

6. Map **movie IDs** to their **titles** using the `movies` DataFrame.

7. Return the results as a **Pandas DataFrame** with rankings.

In [28]:
def recommend_movies_for_user(user_id: int, num: int = 5) -> pd.DataFrame:
    # 1: get similar users
    similar_user_matrix = get_similar_user_matrix()
    
    # 1a: sort in descending order
    similar_user_matrix = similar_user_matrix.loc[user_id].sort_values(ascending = False)

    # 1b: exclude user_id
    similar_user_matrix = similar_user_matrix.drop(user_id) 

    # 2: get similar users ratings
    similar_user_ratings = user_movie_matrix.loc[similar_user_matrix.index]

    # 3: Compute average rating for each movie
    average_ratings = similar_user_ratings.mean()

    # 4: Sort movies in descending order based on computed averages
    average_ratings = average_ratings.sort_values(ascending = False)

    # 5: Retrieve top num recommendations
    top_recs = average_ratings.head(num)

    # 6: Map movie ids to titles using movies dataframe
    movie_names = movies[movies['movie_id'].isin(top_recs.index)]['title']

    # 7: Return results as dataframe 
    return pd.DataFrame({
        'Ranking': range(1, num + 1),
        'Movie Name': movie_names.values
    })

##### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'Ranking': range(1, num+1),
    'Movie Name': movie_names     
})
result_df.set_index('Ranking', inplace=True)
```

#### **Example: User-Based Collaborative Filtering**
```python
recommend_movies_for_user(10, num = 5)
```
**Output:**
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | In the Company of Men (1997)   |
| 2       | Misérables, Les (1995)         |
| 3       | Thin Blue Line, The (1988)     |
| 4       | Braindead (1992)               |
| 5       | Boys, Les (1997)               |

In [29]:
recommend_movies_for_user(10)

   Ranking                      Movie Name
0        1                Star Wars (1977)
1        2                    Fargo (1996)
2        3  Raiders of the Lost Ark (1981)
3        4       Return of the Jedi (1983)
4        5                  Contact (1997)

### **Item-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement an **item-based collaborative filtering** recommendation system using the **Movie dataset**. The goal is to recommend movies similar to a given movie based on user rating patterns.

#### **Step 1: Import Required Libraries**
Although we have done this part already in the previous task but just to emphasize the importance reiterrating this part.

Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing item similarity
```

#### **Step 2: Compute Item-Item Similarity**
- We will use **cosine similarity** to measure how similar each pair of movies is based on their user ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.
- Unlike user-based filtering, we need to **transpose** (`.T`) the `user_movie_matrix` because we want similarity between movies (columns) instead of users (rows).

##### **Instructions:**
1. Transpose the user-movie matrix using `.T` to make movies the rows.
2. Fill missing values with `0` using `.fillna(0)`.
3. Compute similarity using `cosine_similarity()`.
4. Convert the result into a **Pandas DataFrame**, with movies as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
item_similarity = cosine_similarity(user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)
```

In [30]:
sim = cosine_similarity(user_movie_matrix.T)
item_sim_df = pd.DataFrame(sim, index = user_movie_matrix.columns, columns = user_movie_matrix.columns)

#### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies(movie_name, num=5)` to recommend movies similar to a given movie.

##### **Function Inputs:**
- `movie_name`: The target movie for which we need recommendations.
- `num`: The number of similar movies to recommend (default is 5).

##### **Function Steps:**
1. Find the **movie_id** corresponding to the given `movie_name` in the `movies` DataFrame.
2. If the movie is not found, return an appropriate message.
3. Extract the **similarity scores** for this movie from `item_sim_df`.
4. Sort the movies in **descending order** based on similarity (excluding the movie itself).
5. Retrieve the **top `num` similar movies**.
6. Map **movie IDs** to their **titles** using the `movies` DataFrame.
7. Return the results as a **Pandas DataFrame** with rankings.

In [ ]:
def recommend_movies(movie_name: str, num: int = 5) -> pd.DataFrame:
    # 1/2: find movie id from movies df and print message if not there
    try:
        movie_id = movies[movies['title'] == movie_name]['movie_id'].tolist()[0]
    except IndexError:
        raise ValueError(f'Movie "{movie_name}" not found in database') 
    
    # 3: extract similarity scores for this move from sim 
    similarities = item_sim_df.loc[movie_id]

    # 4: sort in descending order
    similarities = similarities.drop(movie_id)
    similarities = similarities.sort_values(ascending = False)
                    
    # 5: retrieve top num similar movies
    top_recs = similarities.head(num)

    # 6: map movie ids to titles
    movie_names = movies[movies['movie_id'].isin(top_recs.index)]['title']

    # 7: return dataframe 
    return pd.DataFrame({
        'Ranking': range(1, num + 1),
        'Movie Name': movie_names
    }).reset_index(drop = True)

#### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'ranking': range(1, num+1),
    'movie_name': movie_names
})
result_df.set_index('ranking', inplace=True)
```

#### **Example: Item-Based Collaborative Filtering**
```python
recommend_movies("Jurassic Park (1993)", num=5)
```
**Output:**
```
| Ranking | Movie Name                               |
|---------|------------------------------------------|
| 1       | Top Gun (1986)                           |
| 2       | Empire Strikes Back, The (1980)          |
| 3       | Raiders of the Lost Ark (1981)           |
| 4       | Indiana Jones and the Last Crusade (1989)|
| 5       | Speed (1994)                             |

In [32]:
recommend_movies("Jurassic Park (1993)")

   Ranking                                 Movie Name
0        1                             Top Gun (1986)
1        2            Empire Strikes Back, The (1980)
2        3             Raiders of the Lost Ark (1981)
3        4  Indiana Jones and the Last Crusade (1989)
4        5                               Speed (1994)

## **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm)**

### **Adjacency List**

#### **Objective**
In this task, you will preprocess the Movie dataset and construct a **graph representation** where:
- **Users** are connected to the movies they have rated.
- **Movies** are connected to users who have rated them.
  
This graph structure will help in exploring **user-movie relationships** for recommendations.

#### **Step 1: Merge Ratings with Movie Titles**
Since we have **movie IDs** in the ratings dataset but need human-readable movie titles, we will:
1. Merge the `ratings` DataFrame with the `movies` DataFrame using the `'movie_id'` column.
2. This allows each rating to be associated with a **movie title**.

#### **Hint:**
Use the following Pandas operation to merge:
```python
ratings = ratings.merge(movies, on='movie_id')
```

In [33]:
ratings = ratings.merge(movies, on = 'movie_id')


#### **Step 2: Aggregate Ratings**
Since multiple users may rate the same movie multiple times, we:
1. Group the dataset by `['user_id', 'movie_id', 'title']`.
2. Compute the **mean rating** for each movie by each user.
3. Reset the index to ensure we maintain a clean DataFrame structure.

#### **Hint:**  
Use `groupby()` and `mean()` as follows:
```python
ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()
```

In [34]:
ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()

#### **Step 3: Normalize Ratings**
Since different users have different rating biases, we normalize ratings by:
1. **Computing each user's mean rating**.
2. **Subtracting the mean rating** from each individual rating.

#### **Instructions:**
- Use `groupby('user_id')` to group ratings by users.
- Apply `transform(lambda x: x - x.mean())` to adjust ratings.

#### **Hint:**  
Normalize ratings using:
```python
ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())
```
This ensures each user’s ratings are centered around zero, making similarity calculations fairer.

In [35]:
ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())

In [36]:
ratings

       user_id  movie_id                                 title    rating
0            1         1                      Toy Story (1995)  1.391144
1            1         2                      GoldenEye (1995) -0.608856
2            1         3                     Four Rooms (1995)  0.391144
3            1         4                     Get Shorty (1995) -0.608856
4            1         5                        Copycat (1995) -0.608856
...        ...       ...                                   ...       ...
99986      943      1067                  Bottle Rocket (1996) -1.410714
99987      943      1074                  Reality Bites (1994)  0.589286
99988      943      1188                  Young Guns II (1990) -0.410714
99989      943      1228  Under Siege 2: Dark Territory (1995) -0.410714
99990      943      1330        An Unforgettable Summer (1994) -0.410714

[99991 rows x 4 columns]

#### **Step 4: Construct the Graph Representation**
We represent the user-movie interactions as an **undirected graph** using an **adjacency list**:
- Each **user** is a node connected to movies they rated.
- Each **movie** is a node connected to users who rated it.

#### **Graph Construction Steps:**
1. Initialize an empty dictionary `graph = {}`.
2. Iterate through the **ratings dataset**.
3. For each `user_id` and `movie_id` pair:
   - Add the movie to the user’s set of connections.
   - Add the user to the movie’s set of connections.

#### **Hint:**  
The following code builds the graph:

```python
graph = {}
for _, row in ratings.iterrows():
    user, movie = row['user_id'], row['movie_id']
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)
```

This results in a **bipartite graph**, where:
- **Users** are connected to multiple movies.
- **Movies** are connected to multiple users.

In [37]:
graph = {}
for _, row in ratings.iterrows():
    user, movie, rating = row['user_id'], row['movie_id'], row['rating']

    if user not in graph:
        graph[user] = set()
    
    if movie not in graph:
        graph[movie] = set()

    graph[user].add((movie, rating))
    graph[movie].add((user, rating))

#### **Step 5: Understanding the Graph**
- **Nodes** in the graph represent **users and movies**.
- **Edges** exist between a user and a movie **if the user has rated the movie**.
- This structure allows us to find **users with similar movie tastes** and **movies frequently watched together**.

#### **Exploring the Graph**
- **Find a user’s rated movies:**  
  ```python
  user_id = 1
  print(graph[user_id])  # Movies rated by user 1
  ```

- **Find users who rated a movie:**  
  ```python
  movie_id = 50
  print(graph[movie_id])  # Users who rated movie 50
  ```

In [ ]:
def explore_graph(user_id: int = None, movie_id: int = None):
    if user_id:
        print(f'User "{user_id}" rated movies: {graph[user_id]}')
    if movie_id:
        print(f'Users who rated "{movie_id}": {graph[movie_id]}')

In [ ]:
explore_graph(1)

User "1" rated movies: {(839, 0.807017543859649), (120, -2.6088560885608856), (292, -0.22580645161290303), (298, 0.9685039370078741), (320, -0.720779220779221), (89, 1.3911439114391144), (715, 1.6167664670658684), (223, 1.3911439114391144), (134, 0.3911439114391144), (505, -0.3660714285714284), (93, 1.65), (17, -0.6088560885608856), (28, 0.3911439114391144), (248, -0.5714285714285716), (162, 0.3911439114391144), (892, 1.0), (934, -1.7011494252873565), (230, 0.3911439114391144), (241, 0.3911439114391144), (135, 0.3911439114391144), (606, 1.0338983050847457), (726, 1.0), (592, 0.1861111111111109), (108, 1.3911439114391144), (253, 1.3911439114391144), (137, -1.3191489361702127), (192, 0.3911439114391144), (203, 0.3911439114391144), (705, 1.289473684210526), (398, 1.2906976744186047), (97, -0.6088560885608856), (142, -1.6088560885608856), (36, -1.6088560885608856), (59, 1.3911439114391144), (535, -0.9357798165137616), (280, 0.4224806201550386), (131, -2.6088560885608856), (195, 1.3911439114391144), (344, -0.668421052631579), (804, 1.3343373493975905), (256, 1.0096618357487923), (230, 1.1503759398496243), (289, 0.07407407407407396), (116, -0.6088560885608856), (168, 1.3911439114391144), (786, 0.1282051282051282), (933, 0.3532608695652173), (514, 1.1597938144329896), (885, 1.6862745098039214), (54, 0.3076923076923075), (867, -0.2631578947368425), (102, 0.3842592592592591), (181, 1.5080459770114942), (184, 0.3911439114391144), (120, 0.4230769230769229), (101, 0.10447761194029859), (119, 1.3911439114391144), (549, 1.2799999999999998), (632, -0.6610169491525424), (144, 0.325242718446602), (214, 0.3911439114391144), (296, 0.8231292517006805), (112, -2.6088560885608856), (146, 0.3911439114391144), (176, 1.3911439114391144), (198, 1.3911439114391144), (158, 0.19653179190751446), (299, -0.4642857142857144), (312, 0.6188340807174884), (445, 1.0148148148148148), (81, 1.3911439114391144), (490, 0.2105263157894739), (658, 0.267605633802817), (756, 0.8073394495412844), (20, 0.3911439114391144), (31, -0.6088560885608856), (43, 1.2895927601809953), (394, 0.14093959731543615), (761, -1.8484848484848486), (890, 0.1428571428571428), (74, -2.6088560885608856), (126, -1.6088560885608856), (222, 0.3911439114391144), (79, 0.0), (203, -0.41860465116279055), (32, 1.3911439114391144), (49, -0.6837209302325582), (88, 0.3911439114391144), (597, -0.6341463414634148), (242, -0.4500000000000002), (897, 1.037837837837838), (100, 1.3911439114391144), (111, 1.3911439114391144), (790, -0.017316017316017174), (61, 0.3911439114391144), (206, 0.3911439114391144), (663, 0.46835443037974667), (104, -2.6088560885608856), (145, -1.6088560885608856), (311, 0.204081632653061), (148, 0.0), (207, 1.3911439114391144), (23, 0.3911439114391144), (157, 0.3911439114391144), (216, 0.1984732824427482), (193, 0.834710743801653), (213, -1.6088560885608856), (363, -1.054662379421222), (727, -0.03726708074534146), (51, 0.3911439114391144), (291, 1.314189189189189), (252, -1.6088560885608856), (635, 0.7352941176470589), (222, 0.9509043927648579), (13, 1.3911439114391144), (331, -2.642857142857143), (130, 1.0170454545454546), (830, 0.2547169811320753), (236, 0.3911439114391144), (676, 1.4155844155844157), (562, -1.5416666666666665), (128, 0.3369565217391304), (259, -2.6088560885608856), (399, 1.0626959247648902), (749, 0.37704918032786905), (8, -2.6088560885608856), (187, 0.3911439114391144), (200, 0.9675925925925926), (271, -1.6088560885608856), (682, 0.8621553884711779), (895, 0.25), (45, 1.3958333333333335), (923, -1.1486486486486482), (868, 1.048076923076923), (243, -2.6088560885608856), (916, 0.6340694006309149), (4, -0.6088560885608856), (678, 1.5714285714285716), (763, 0.21705426356589141), (160, 0.3911439114391144), (190, 1.3911439114391144), (64, 0.41500000000000004), (817, 0.6388888888888888), (893, 1.5762711864406778), (43, 0.3911439114391144), (401, -1.1176470588235294), (714, -0.5227272727272729), (777, -0.05555555555555536), (233, -1.6088560885608856), (244, -1.6088560885608856), (16, 1.3911439114391144), (286, 0.28819444444444464), (332, -0.1530054644808745), (534, 0.9249999999999998), (835, -1.1470588235294121), (217, -0.6088560885608856), (83, 0.5806451612903225), (307, 1.2053571428571428), (541, 0.37593984962406024), (152, 1.3911439114391144), (177, -0.6173913043478261), (552, -0.09523809523809534), (89, 0.9605263157894735), (26, 0.05607476635513997), (744, 0.14814814814814836), (274, -0.05633802816901401), (179, -0.6088560885608856), (150, 0.15625), (343, 1.0126582278481013), (919, 0.5299539170506913), (252, 0.5714285714285712), (114, 1.3911439114391144), (699, -0.1476510067114094), (759, 0.9375), (770, 0.703125), (130, -0.6088560885608856), (171, 1.3911439114391144), (276, 1.534749034749035), (417, 0.7534246575342465), (225, -1.6088560885608856), (26, -0.6088560885608856), (542, 0.5111111111111111), (545, 1.4938271604938271), (494, -0.8723404255319149), (918, -0.34951456310679596), (526, 1.7647058823529411), (794, -0.3076923076923075), (243, 0.3580246913580245), (83, -0.6088560885608856), (239, 0.3911439114391144), (450, 0.1351851851851853), (921, -0.27272727272727293), (459, 0.6186440677966103), (612, 0.6296296296296298), (800, 0.25), (122, -0.6088560885608856), (710, 0.30232558139534893), (807, 0.10784313725490202), (872, -0.380281690140845), (167, -1.6088560885608856), (483, 0.9491525423728815), (336, 0.038461538461538325), (789, -0.6666666666666665), (255, -1.6088560885608856), (467, 0.31818181818181834), (536, 1.128834355828221), (56, 0.3911439114391144), (880, 0.5733695652173911), (157, 1.215686274509804), (602, 0.2068965517241379), (478, 0.584070796460177), (254, -0.05031446540880502), (550, -0.6749999999999998), (57, 1.3911439114391144), (202, 1.3911439114391144), (751, -0.5416666666666665), (70, 0.5343511450381677), (82, 0.9285714285714284), (18, 0.3911439114391144), (7, 0.3911439114391144), (141, -0.6088560885608856), (438, -0.06060606060606055), (102, -1.6088560885608856), (25, 0.9487179487179489), (270, 1.3911439114391144), (390, 1.161290322580645), (374, 0.6897810218978102), (151, 1.003257328990228), (19, 1.3911439114391144), (340, 0.8409090909090908), (470, -0.5789473684210527), (854, -0.2119815668202767), (75, 0.3911439114391144), (881, 0.6795366795366795), (209, 0.3911439114391144), (220, -0.6088560885608856), (826, 0.17391304347826075), (669, 1.62), (87, 1.3911439114391144), (339, 0.9960629921259843), (254, -2.6088560885608856), (182, 0.3911439114391144), (65, 0.3911439114391144), (76, 0.3911439114391144), (294, 1.5333333333333332), (209, 1.8181818181818183), (250, 0.3911439114391144), (634, -0.37037037037037024), (788, -0.34136546184738936), (110, -2.6088560885608856), (133, 0.3911439114391144), (144, 0.3911439114391144), (174, 1.3911439114391144), (275, 0.8842105263157896), (108, 0.4242424242424243), (847, -0.03424657534246567), (94, -1.6088560885608856), (432, -1.7096774193548385), (472, 0.7718631178707227), (6, 0.3649289099526065), (293, -1.0309278350515463), (201, -0.6088560885608856), (242, 1.3911439114391144), (84, 0.3911439114391144), (95, 0.3911439114391144), (106, 0.3911439114391144), (896, 1.0193370165745854), (314, 1.3224489795918366), (34, -1.6088560885608856), (924, 1.2439024390243905), (189, 1.0213903743315509), (325, -1.408450704225352), (371, -0.09803921568627416), (140, -2.6088560885608856), (163, 0.3911439114391144), (204, 1.3911439114391144), (95, 1.5827338129496402), (168, 1.6666666666666665), (747, 0.9453924914675769), (68, 0.3911439114391144), (664, 0.2530120481927711), (138, -0.27450980392156854), (518, 0.3561643835616439), (193, 0.3911439114391144), (389, 0.2952029520295203), (540, -0.7142857142857144), (805, 0.6520146520146519), (125, -0.6088560885608856), (166, 1.3911439114391144), (177, 1.3911439114391144), (60, 1.3911439114391144), (706, 0.6896551724137931), (764, 0.31192660550458706), (244, 0.3487394957983194), (10, -0.6088560885608856), (580, -0.5531914893617023), (731, -1.3855421686746987), (932, 0.03319502074688785), (593, -0.608974358974359), (465, 0.5625), (393, -0.3370535714285716), (815, 1.2568306010928962), (709, 0.4275362318840581), (37, -1.6088560885608856), (67, -0.6088560885608856), (212, 0.3911439114391144), (532, 0.8754578754578759), (882, 0.9489051094890515), (330, 0.5034013605442178), (196, 1.3911439114391144), (917, -0.5428571428571427), (463, -1.8646616541353382), (487, 1.3549783549783552), (235, 1.3911439114391144), (822, 0.8799999999999999), (40, -0.6088560885608856), (198, 0.7237569060773481), (185, 0.3911439114391144), (20, -0.10416666666666652), (347, 0.42713567839195976), (479, 1.5792079207920793), (197, 1.3911439114391144), (219, -2.6088560885608856), (2, -0.6088560885608856), (235, 0.021276595744680993), (136, -0.6088560885608856), (147, -0.6088560885608856), (262, -0.16875000000000018), (109, 1.3911439114391144), (388, 0.8269230769230766), (486, 0.7777777777777777), (913, -1.522727272727273), (14, 1.3911439114391144), (792, 0.8723404255319149), (56, 0.35828877005347604), (70, -0.6088560885608856), (523, 0.6399999999999997), (178, 0.3186813186813189), (215, -0.6088560885608856), (134, 1.3599999999999999), (98, 0.3911439114391144), (930, 0.03174603174603163), (82, 1.3911439114391144), (260, -2.6088560885608856), (272, -0.6088560885608856), (62, -1.3017241379310347), (143, -2.6088560885608856), (889, -0.4355828220858897), (125, 0.5604395604395602), (58, 1.1623376623376624), (99, 0.44852941176470607), (279, -0.26728110599078336), (561, -1.0252100840336134), (716, 1.1115241635687734), (768, 1.734375), (105, -1.6088560885608856), (94, 0.3424999999999998), (493, -0.7555555555555555), (44, 1.3911439114391144), (395, 1.1052631578947367), (403, 0.31999999999999984), (234, 0.3911439114391144), (795, 0.8679245283018866), (679, -0.661290322580645), (117, -0.6088560885608856), (128, 0.3911439114391144), (139, -0.6088560885608856), (169, 1.3911439114391144), (455, 0.4973544973544972), (533, 0.6153846153846154), (162, 0.40476190476190466), (680, 0.0), (553, -1.17), (471, 0.6129032258064515), (637, 1.5096153846153846), (691, 0.78125), (886, 0.6375000000000002), (407, 0.5309734513274336), (338, -1.0), (90, 0.3911439114391144), (79, 0.3911439114391144), (661, 1.0826446280991737), (441, 1.5), (158, -0.6088560885608856), (160, 0.08333333333333348), (429, -0.393719806763285), (93, 1.3911439114391144), (723, -0.27272727272727293), (793, 0.49090909090909074), (642, 1.3773584905660377), (92, 0.7551546391752577), (313, 0.40458015267175584), (582, 0.725806451612903), (903, -0.8529411764705883), (150, 1.3911439114391144), (172, 1.3911439114391144), (253, 1.0206185567010309), (55, 1.3911439114391144), (610, 0.2666666666666666), (256, 0.3911439114391144), (458, 0.3114754098360657), (5, -0.6088560885608856), (677, 0.40816326530612246), (141, -0.4299065420560746), (109, 0.5598290598290596), (579, 0.5270270270270272), (268, 1.3911439114391144), (6, 1.3911439114391144), (62, -0.6088560885608856), (73, -0.6088560885608856), (901, 1.1451612903225805), (218, -0.6088560885608856), (191, 1.3911439114391144), (277, 0.5), (200, -0.6088560885608856), (655, -0.9080291970802921), (117, 0.08139534883720945), (24, -0.6088560885608856), (78, -2.6088560885608856), (733, -1.02803738317757), (264, -1.6088560885608856), (92, -0.6088560885608856), (226, -0.6088560885608856), (248, 0.3911439114391144), (624, 0.46808510638297873), (599, 0.10638297872340408), (16, 0.6714285714285717), (938, 0.7314814814814814), (922, 1.62992125984252), (115, 1.3911439114391144), (674, 0.3414634146341462), (821, 0.661290322580645), (10, -0.2065217391304346), (488, -0.3571428571428572), (703, 0.46808510638297873), (54, -0.6088560885608856), (303, 1.634297520661157), (902, 1.5510204081632653), (188, -0.6088560885608856), (199, 0.3911439114391144), (210, 0.3911439114391144), (379, 0.010204081632652962), (57, 1.5), (149, -1.6088560885608856), (202, 0.20000000000000018), (569, 0.5142857142857142), (305, 1.59009009009009), (161, 0.3911439114391144), (852, 0.5306122448979593), (245, -1.6088560885608856), (229, 0.3911439114391144), (537, -0.8653061224489798), (123, 0.3911439114391144), (38, 1.28099173553719), (77, 1.3888888888888888), (567, -0.9548387096774196), (684, 0.5116279069767442), (769, 0.9310344827586206), (174, -0.5819209039548023), (145, -0.33544303797468356), (406, 0.4678362573099415), (263, -2.6088560885608856), (23, 1.3642384105960264), (201, -0.031088082901554515), (180, -0.6088560885608856), (221, 1.3911439114391144), (324, 0.6515151515151514), (746, 0.35820895522388074), (15, -1.875), (85, -0.6088560885608856), (500, 0.6577777777777776), (96, 0.7321428571428568), (21, 2.329608938547486), (153, -0.6088560885608856), (183, 1.3911439114391144), (124, -0.5), (434, 0.2954545454545454), (247, 0.0769230769230771), (182, 0.1428571428571428), (237, -1.6088560885608856), (9, 1.3911439114391144), (456, -1.456221198156682), (605, 0.24444444444444446), (745, -1.1), (649, 1.2083333333333335), (517, -0.29729729729729737), (508, 1.1724137931034484), (525, 0.7037037037037037), (240, -0.6088560885608856), (231, -0.6666666666666665), (138, -2.6088560885608856), (224, 1.3911439114391144), (96, 1.3911439114391144), (199, -1.9500000000000002), (287, 0.887096774193548), (1, 1.3911439114391144), (46, 0.3911439114391144), (665, 0.5211267605633805), (295, -0.2397959183673466), (648, 1.740740740740741), (234, -0.12291666666666679), (381, 1.188976377952756), (424, -2.3636363636363638), (175, 1.3911439114391144), (327, 0.686619718309859), (560, 0.603960396039604), (484, 1.0071942446043165), (879, 0.31034482758620685), (936, 0.2535211267605635), (250, 0.21311475409836067), (692, 0.7250000000000001), (30, -0.6088560885608856), (730, 0.763157894736842), (653, 1.3074204946996466), (164, -0.6088560885608856), (13, -0.09748427672955984), (210, 0.9393939393939394), (512, -0.33333333333333304), (357, 0.8684210526315788), (137, 1.3911439114391144), (204, -1.4523809523809526), (468, 1.006993006993007), (232, -0.6088560885608856), (767, 0.5675675675675675), (35, -2.6088560885608856), (779, 0.08108108108108114), (266, -2.6088560885608856), (38, -0.6088560885608856), (49, -0.6088560885608856), (2, 0.2903225806451615), (194, 0.3911439114391144), (268, 0.05810397553516822), (77, 0.3911439114391144), (402, 1.1029411764705883), (27, -1.6088560885608856), (50, 1.3911439114391144), (246, 1.071794871794872), (97, -0.15873015873015905), (251, 0.3911439114391144), (262, -0.6088560885608856), (457, -0.02527075812274404), (823, -0.005405405405405794), (927, 1.3083333333333331), (84, -1.8529411764705883), (156, 0.3911439114391144), (698, 1.15748031496063), (416, 1.154158215010142), (708, 1.7999999999999998), (609, -1.3928571428571428), (39, 0.3911439114391144), (73, -1.727272727272727), (721, 1.4642857142857144), (738, 1.3243243243243241), (12, 1.3911439114391144), (907, 0.4285714285714288), (883, -0.9253731343283582), (107, 0.3911439114391144), (118, -0.6088560885608856), (412, 0.0588235294117645), (636, -1.4500000000000002), (247, -2.6088560885608856), (223, 0.9714285714285715), (419, -0.21875), (380, 0.8024691358024691), (216, 1.3911439114391144), (131, -0.13333333333333375), (213, -2.2301587301587302), (265, 1.4347826086956523), (831, 0.4794520547945207), (58, 0.3911439114391144), (69, -0.6088560885608856), (80, 0.3911439114391144), (618, 0.7129629629629628), (697, 1.2857142857142856), (910, 0.8333333333333335), (232, 0.09677419354838701), (42, 1.3911439114391144), (425, -0.9558823529411766), (297, -0.43979057591623016), (103, -2.6088560885608856), (178, 1.3911439114391144), (345, -0.646551724137931), (290, 1.6466666666666665), (622, -0.39035087719298245), (689, -0.8333333333333335), (690, 0.8521739130434782), (887, 1.0760233918128654), (308, 0.24181360201511337), (75, 0.721518987341772), (22, 0.3911439114391144), (205, -0.6088560885608856), (246, 1.3911439114391144), (5, 1.132183908045977), (326, -0.3262032085561497), (99, -0.6088560885608856), (129, 1.3911439114391144), (941, 0.9545454545454541), (251, 0.20779220779220786), (588, 0.25777777777777766), (208, 1.3911439114391144), (411, 0.22413793103448265), (91, 1.3911439114391144), (806, 0.3571428571428572), (577, 1.1968085106382977), (11, -1.6088560885608856), (52, 0.3911439114391144), (186, 0.3911439114391144), (748, 0.2777777777777777), (170, 1.3911439114391144), (64, 1.3911439114391144), (350, -0.3200000000000003), (231, -2.6088560885608856), (265, 0.3911439114391144), (460, -1.4117647058823528), (929, -0.693877551020408), (3, 0.3911439114391144), (301, 0.47272727272727266), (359, 0.07407407407407396), (621, -0.5497076023391814), (59, -1.9345549738219896), (378, 0.5760000000000001), (497, 0.8207885304659497), (15, 1.3911439114391144), (71, -0.6088560885608856), (18, 1.1191335740072201), (227, 0.3911439114391144), (773, -0.2795031055900621), (155, -1.6088560885608856), (614, 1.8717948717948718), (263, 0.9512195121951219), (228, 1.3911439114391144), (261, -2.6088560885608856), (33, 0.3911439114391144), (189, -0.6088560885608856), (435, 1.683377308707124), (798, 0.6736401673640167), (72, 0.3911439114391144), (387, 0.638157894736842), (44, 0.3509933774834435), (45, 1.3911439114391144), (184, 0.33864541832669337), (249, -0.10559006211180133), (151, 0.3911439114391144), (181, 1.3911439114391144), (348, 0.10344827586206895), (548, 0.3290322580645162), (121, 0.3918918918918921), (101, -1.6088560885608856), (113, 1.3911439114391144), (17, 0.9642857142857144), (258, 1.3911439114391144), (269, 1.3911439114391144), (29, -2.6088560885608856), (894, 0.3632653061224489), (843, 0.2647058823529411), (41, -1.6088560885608856), (654, 0.3129251700680271), (67, -0.7666666666666666), (25, 0.3911439114391144), (701, -0.21212121212121193), (785, 0.2962962962962963), (159, -0.6088560885608856), (53, -0.6088560885608856), (650, -0.15434083601286153), (757, 0.6325301204819276), (865, -1.287878787878788), (42, 1.2732240437158469), (576, 0.4722222222222223), (148, -1.6088560885608856), (657, -0.2413793103448274), (396, 0.5925925925925926), (121, 0.3911439114391144), (132, 0.3911439114391144), (173, 1.3911439114391144), (63, -0.11827956989247301), (422, -0.4583333333333335), (447, -0.5971223021582732), (495, 0.046948356807511527), (271, -0.5827338129496402), (521, -1.1400000000000001), (796, -1.600558659217877), (257, 0.3911439114391144), (864, 1.17687074829932), (829, 0.453125), (554, -0.5701754385964914), (21, -2.6088560885608856), (81, 0.7068965517241379), (66, -0.47368421052631593), (65, -0.9375), (124, 1.3911439114391144), (735, 0.6792452830188678), (899, -0.5259259259259261), (194, 1.0360655737704918), (86, 1.3911439114391144), (870, 1.546468401486989), (41, 0.23076923076923084), (47, 0.3911439114391144), (322, -2.1764705882352944), (365, 0.6206896551724137), (106, 0.234375), (154, 1.3911439114391144), (165, 1.3911439114391144), (48, 1.3911439114391144), (63, -1.6088560885608856), (72, 0.18248175182481763), (838, 0.881720430107527), (238, 0.3911439114391144), (249, 0.3911439114391144), (630, 0.675925925925926), (613, -0.3214285714285712), (454, 0.021186440677966267), (771, 1.2857142857142856), (742, 0.5384615384615383), (127, 1.3911439114391144), (503, 0.9812500000000002), (360, -0.9607843137254903), (643, 1.262135922330097), (660, 0.4151785714285716), (935, -0.9230769230769229), (620, 1.1727272727272728), (66, 0.3911439114391144), (211, -0.6088560885608856)}

In [ ]:
explore_graph(movie_id = 50)

Users who rated "50": {(102, 1.384259259259259), (292, -0.22580645161290303), (298, 0.9685039370078741), (320, 0.27922077922077904), (715, 1.6167664670658684), (505, -0.3660714285714284), (562, 1.4583333333333335), (144, 1.325242718446602), (892, 1.0), (176, 1.3015873015873014), (760, -0.24390243902439046), (878, 0.7313432835820897), (516, 0.9047619047619051), (77, 0.38888888888888884), (270, 0.666666666666667), (185, -0.04166666666666696), (23, 0.36423841059602635), (606, 1.0338983050847457), (774, 1.9419642857142856), (480, 0.2666666666666666), (833, -1.0639097744360901), (890, 1.1428571428571428), (235, 1.021276595744681), (398, 1.2906976744186047), (194, 0.0360655737704918), (597, 1.3658536585365852), (913, 0.47727272727272707), (56, 1.358288770053476), (280, -0.5775193798449614), (782, 0.2112068965517242), (663, 1.4683544303797467), (649, 0.20833333333333348), (72, -1.8175182481751824), (311, 1.204081632653061), (148, 1.0), (771, 0.2857142857142856), (561, -0.025210084033613356), (230, 1.1503759398496243), (786, 0.1282051282051282), (514, 1.1597938144329896), (15, 2.125), (620, 0.17272727272727284), (867, 0.7368421052631575), (120, 0.4230769230769229), (162, 1.4047619047619047), (549, 1.2799999999999998), (680, 1.0), (553, -0.16999999999999993), (125, -1.5416666666666665), (69, 1.1538461538461537), (886, 1.6375000000000002), (296, 0.8231292517006805), (749, 1.377049180327869), (299, 0.5357142857142856), (312, 0.6188340807174884), (567, -2.9548387096774196), (756, 0.8073394495412844), (158, 0.19653179190751446), (466, 1.5346534653465347), (658, 0.267605633802817), (60, 0.9134615384615383), (625, 1.5660377358490565), (923, 0.8513513513513518), (233, -1.3454545454545457), (37, 1.3508771929824563), (429, 1.606280193236715), (79, 0.0), (64, 1.415), (694, 0.8471337579617835), (714, 1.477272727272727), (337, 1.0588235294117645), (313, 1.4045801526717558), (705, 0.2894736842105261), (21, 0.32960893854748585), (897, 1.037837837837838), (28, 0.278481012658228), (790, 0.9826839826839828), (177, 1.382608695652174), (671, 1.4193548387096775), (109, 1.5598290598290596), (753, 0.4035087719298245), (575, -1.1538461538461537), (619, 0.49438202247191), (216, 0.1984732824427482), (727, 0.9627329192546585), (885, -0.31372549019607865), (291, 1.314189189189189), (222, 0.9509043927648579), (1010, 1.4583333333333335), (584, 0.4583333333333335), (601, 1.9189189189189189), (130, 1.0170454545454546), (508, 1.4583333333333335), (676, 1.4155844155844157), (115, 1.0652173913043477), (128, 0.3369565217391304), (475, 1.4), (641, -1.125), (188, 0.2321428571428572), (200, 0.9675925925925926), (445, 0.014814814814814836), (527, 0.16788321167883202), (938, 1.7314814814814814), (807, 1.107843137254902), (703, 1.4680851063829787), (336, 1.0384615384615383), (45, 1.3958333333333335), (789, 1.3333333333333335), (644, 0.0), (246, -0.5416666666666665), (763, 0.21705426356589141), (893, 1.5762711864406778), (880, 1.5733695652173911), (550, 1.3250000000000002), (286, 0.28819444444444464), (332, 0.8469945355191255), (461, 0.0), (751, 1.4583333333333335), (83, -0.4193548387096775), (82, 1.9285714285714284), (307, 1.2053571428571428), (424, -0.36363636363636376), (552, 0.9047619047619047), (940, 0.542056074766355), (89, 0.9605263157894735), (470, 1.4210526315789473), (537, 1.1346938775510202), (577, 0.19680851063829774), (274, 0.943661971830986), (744, -0.8518518518518516), (343, 1.0126582278481013), (509, 2.484848484848485), (826, 1.1739130434782608), (919, -0.4700460829493087), (937, 1.625), (145, 1.6645569620253164), (699, -0.1476510067114094), (406, 1.4678362573099415), (746, 1.3582089552238807), (368, 0.7111111111111112), (758, 0.12324929971988796), (759, -0.0625), (276, 1.534749034749035), (417, -0.24657534246575352), (370, 0.30666666666666664), (123, 0.4583333333333335), (463, 1.1353383458646618), (268, 0.4583333333333335), (542, 0.5111111111111111), (545, 1.4938271604938271), (18, 0.11913357400722013), (32, 0.6829268292682928), (265, -1.5652173913043477), (629, 0.9173553719008263), (526, 1.7647058823529411), (182, 1.1428571428571428), (794, 0.6923076923076925), (921, 0.7272727272727271), (459, 0.6186440677966103), (800, 0.25), (710, 0.30232558139534893), (896, 2.0193370165745854), (780, 1.1272727272727274), (467, 0.31818181818181834), (536, 1.128834355828221), (678, 0.5714285714285716), (401, -2.1176470588235294), (478, -0.415929203539823), (386, 0.34782608695652195), (594, -0.48), (70, 0.5343511450381677), (825, 0.386206896551724), (438, 0.9393939393939394), (389, 1.2952029520295203), (540, 1.2857142857142856), (528, 1.2830188679245285), (25, 0.9487179487179489), (374, -0.3102189781021898), (151, 1.003257328990228), (881, -0.3204633204633205), (340, -0.15909090909090917), (433, 1.4878048780487805), (706, 1.6896551724137931), (854, 0.7880184331797233), (425, 2.0441176470588234), (310, 1.1428571428571428), (669, 1.62), (506, 1.3264462809917354), (608, -2.6748466257668713), (1084, 1.4583333333333335), (393, 1.6629464285714284), (339, -0.003937007874015741), (709, 1.427536231884058), (68, 1.9705882352941178), (437, 1.418250950570342), (245, 0.7272727272727271), (294, 1.5333333333333332), (734, 0.390625), (2, 1.2903225806451615), (209, 1.8181818181818183), (539, -0.9821428571428572), (871, 1.5043478260869567), (908, 0.44594594594594605), (634, 0.6296296296296298), (198, 1.723756906077348), (275, 0.8842105263157896), (108, 0.4242424242424243), (847, 0.9657534246575343), (236, -0.475806451612903), (246, 2.071794871794872), (347, 1.4271356783919598), (472, 0.7718631178707227), (1008, 1.4583333333333335), (6, 0.3649289099526065), (693, -0.13636363636363624), (875, 0.808988764044944), (276, -1.5416666666666665), (870, -0.45353159851301106), (426, 0.16831683168316847), (924, 1.2439024390243905), (189, 1.0213903743315509), (486, 1.7777777777777777), (157, 0.21568627450980404), (371, -0.09803921568627416), (538, 1.382716049382716), (178, 1.3186813186813189), (9, 0.4583333333333335), (59, 1.0654450261780104), (600, 0.4157303370786516), (95, 1.5827338129496402), (747, 0.9453924914675769), (666, -0.6653061224489796), (405, 3.1655359565807326), (192, 0.48571428571428577), (217, -1.960526315789474), (686, -0.563380281690141), (910, 1.8333333333333335), (618, 1.7129629629629628), (805, 0.6520146520146519), (125, 1.5604395604395602), (397, 1.2941176470588234), (99, 1.448529411764706), (739, 0.3999999999999999), (493, 1.2444444444444445), (94, 1.3424999999999998), (850, 0.47058823529411775), (297, 1.5602094240837698), (764, -0.6880733944954129), (689, 1.1666666666666665), (345, 1.353448275862069), (403, 1.3199999999999998), (593, 0.39102564102564097), (643, 0.26213592233009697), (679, 1.338709677419355), (465, 0.5625), (214, -0.8984375), (815, 1.2568306010928962), (455, 1.4973544973544972), (533, 1.6153846153846154), (326, 1.6737967914438503), (882, 0.9489051094890515), (330, 0.5034013605442178), (51, 1.4347826086956523), (557, 0.2452830188679247), (116, -0.006993006993007089), (917, -0.5428571428571427), (544, 0.4583333333333335), (588, 1.2577777777777777), (20, -0.10416666666666652), (504, -0.6215139442231075), (586, 0.6746987951807228), (793, 1.4909090909090907), (748, 1.2777777777777777), (92, 1.7551546391752577), (127, -0.13043478260869534), (452, 1.587378640776699), (582, 1.725806451612903), (903, 1.1470588235294117), (161, -0.5517241379310347), (301, 1.4727272727272727), (523, 0.6399999999999997), (621, 1.4502923976608186), (672, -0.2413793103448274), (930, -0.9682539682539684), (324, 1.4583333333333335), (796, 1.399441340782123), (579, 1.5270270270270272), (700, 1.3333333333333335), (889, 0.5644171779141103), (804, 0.3343373493975905), (256, 0.009661835748792313), (716, 1.1115241635687734), (279, -0.26728110599078336), (943, 0.5892857142857144), (328, 0.568904593639576), (395, 1.1052631578947367), (655, 1.091970802919708), (117, 1.0813953488372094), (795, -0.1320754716981134), (80, -0.7586206896551726), (387, 1.638157894736842), (791, 1.2000000000000002), (123, -0.8518518518518516), (691, -0.21875), (637, 1.5096153846153846), (471, -0.3870967741935485), (322, 0.8235294117647056), (407, 0.5309734513274336), (103, 1.3793103448275863), (119, 1.0497237569060776), (361, 1.2231404958677685), (487, 0.35497835497835517), (624, 1.4680851063829787), (661, 1.0826446280991737), (741, 1.5384615384615383), (711, 0.14027149321266963), (160, 0.08333333333333348), (43, 0.28959276018099533), (329, 0.6000000000000001), (479, 0.5792079207920793), (723, 0.7272727272727271), (642, 1.3773584905660377), (85, 1.4618055555555554), (4, 0.666666666666667), (154, 1.0392156862745097), (633, 0.6896551724137931), (49, -1.6837209302325582), (785, 1.2962962962962963), (569, 1.5142857142857142), (931, -0.721311475409836), (869, 1.127659574468085), (852, 1.5306122448979593), (610, 0.2666666666666666), (447, 1.4028776978417268), (141, 0.5700934579439254), (271, 1.4172661870503598), (521, 0.8599999999999999), (934, 1.2988505747126435), (373, 1.2660944206008584), (768, 0.734375), (65, 1.0625), (735, 1.6792452830188678), (277, -0.5), (761, 2.1515151515151514), (430, 0.44615384615384635), (153, -1.9565217391304346), (563, 1.2333333333333334), (267, 1.0648648648648646), (551, -1.8023952095808382), (8, 1.2033898305084745), (239, 0.7861635220125782), (268, 2.058103975535168), (603, 1.2127659574468086), (183, -1.1886792452830188), (247, 1.076923076923077), (399, 0.06269592476489017), (704, 1.2222222222222223), (456, 0.5437788018433181), (922, 1.62992125984252), (517, 1.7027027027027026), (674, 0.3414634146341462), (14, 0.908163265306122), (547, 0.4583333333333335), (10, 0.7934782608695654), (488, 0.6428571428571428), (902, 1.5510204081632653), (303, 1.634297520661157), (379, 0.010204081632652962), (57, 1.5), (660, 1.4151785714285716), (283, 0.867924528301887), (319, 1.4583333333333335), (413, 1.3399999999999999), (499, -0.8627450980392157), (305, 1.59009009009009), (253, 0.020618556701030855), (444, 1.2083333333333335), (566, -1.4429530201342282), (560, 1.603960396039604), (213, 0.7698412698412698), (250, 1.2131147540983607), (421, 1.1451612903225805), (385, -2.295373665480427), (653, 2.3074204946996466), (13, 1.9025157232704402), (490, 2.210526315789474), (684, 0.5116279069767442), (174, 0.41807909604519766), (288, 0.4583333333333335), (7, 1.034739454094293), (201, 0.9689119170984455), (324, 0.6515151515151514), (500, -0.3422222222222224), (770, -1.296875), (137, 0.6808510638297873), (113, 1.2745098039215685), (15, -1.5416666666666665), (779, 1.0810810810810811), (96, 0.7321428571428568), (346, 1.709844559585492), (124, -0.5), (530, 0.11111111111111116), (91, 1.1122448979591835), (318, -1.706896551724138), (546, 1.1016949152542375), (745, -1.1), (253, 1.4583333333333335), (698, 2.15748031496063), (508, 1.1724137931034484), (436, 0.24827586206896557), (53, 0.17857142857142838), (231, 0.3333333333333335), (596, 1.4), (363, 1.945337620578778), (46, -0.11111111111111072), (54, 1.3076923076923075), (564, 0.5882352941176472), (287, 0.887096774193548), (1, 1.3911439114391144), (555, 0.9807692307692308), (846, 1.259259259259259), (665, 0.5211267605633805), (101, 1.1044776119402986), (295, 0.7602040816326534), (234, 0.8770833333333332), (581, -0.03571428571428559), (648, 1.740740740740741), (381, 1.188976377952756), (327, -0.313380281690141), (71, -0.7894736842105261), (27, -0.2400000000000002), (484, 1.0071942446043165), (632, 1.3389830508474576), (831, 1.4794520547945207), (321, 0.2639999999999998), (879, 0.31034482758620685), (832, 0.040000000000000036), (936, 0.2535211267605635), (730, 0.763157894736842), (367, 0.8448275862068968), (210, 0.9393939393939394), (22, 1.6484375), (736, 0.0), (464, -0.03773584905660421), (512, 0.666666666666667), (622, 1.6096491228070176), (87, 1.2085308056872037), (308, 1.2418136020151134), (468, 1.006993006993007), (394, 1.1409395973154361), (269, -0.009287925696594534), (203, 1.5813953488372094), (482, 0.5769230769230771), (840, -0.13705583756345163), (251, 1.2077922077922079), (132, -0.7727272727272729), (411, 1.2241379310344827), (717, 0.2903225806451615), (806, 1.3571428571428572), (325, -2.5416666666666665), (97, 0.841269841269841), (457, 0.974729241877256), (823, 0.9945945945945942), (197, 1.6610169491525424), (416, 1.154158215010142), (708, 1.7999999999999998), (721, 1.4642857142857144), (738, 1.3243243243243241), (907, -0.5714285714285712), (221, 0.38356164383561664), (883, 0.07462686567164178), (765, -2.086956521739131), (359, 1.074074074074074), (497, 1.8207885304659497), (830, 1.2547169811320753), (766, 0.6457142857142859), (419, 0.78125), (380, 0.8024691358024691), (409, 1.4088669950738915), (773, 1.720496894409938), (697, 1.2857142857142856), (232, 0.09677419354838701), (272, -0.33333333333333304), (290, 1.6466666666666665), (798, 1.6736401673640167), (391, 0.23140495867768607), (887, 1.0760233918128654), (682, 1.862155388471178), (895, 1.25), (44, 1.3509933774834435), (868, 2.048076923076923), (916, 1.6340694006309149), (215, 1.225806451612903), (498, 0.7114093959731544), (5, 1.132183908045977), (781, 1.2142857142857144), (55, 0.7142857142857144), (823, -0.5416666666666665), (257, 0.9649122807017543), (548, 1.3290322580645162), (835, -0.14705882352941213), (121, 1.391891891891892), (496, 1.9689922480620154), (942, 0.7341772151898738), (104, 2.3333333333333335), (541, 1.3759398496240602), (402, 0.10294117647058831), (175, 1.263157894736842), (124, -2.5416666666666665), (595, 1.8020833333333335), (891, -0.12765957446808507), (26, 1.05607476635514), (150, 1.15625), (654, 1.3129251700680271), (834, 1.074074074074074), (662, -0.8695652173913042), (262, -1.1687500000000002), (645, 0.040983606557376984), (350, 0.6799999999999997), (650, 1.8456591639871385), (929, 0.30612244897959195), (378, 0.5760000000000001), (712, 0.23456790123456805), (323, 1.3820224719101124), (495, 1.0469483568075115), (494, 1.127659574468085), (352, 1.2619047619047619), (392, 0.954954954954955), (507, 0.2758620689655169), (474, 0.9174311926605503), (66, 1.526315789473684), (58, 0.16233766233766245), (354, 0.2575107296137338), (719, -1.1044776119402986), (432, 1.2903225806451615), (263, 0.9512195121951219), (450, 1.1351851851851853), (524, 0.5065359477124183), (899, 1.4740740740740739), (293, 1.9690721649484537), (435, 1.683377308707124), (483, 1.9491525423728815), (623, 1.2666666666666666), (9, 0.7272727272727275), (325, 1.591549295774648), (41, 1.2307692307692308), (602, 1.206896551724138), (184, 0.33864541832669337), (12, -0.3921568627450984), (249, -0.10559006211180133), (254, 1.949685534591195), (316, -2.36), (453, 1.7115384615384617), (638, 0.4626865671641789), (668, 1.4782608695652173), (894, 0.3632653061224489), (843, 0.2647058823529411), (454, 1.0211864406779663), (573, 0.2549019607843137), (799, 0.0), (701, 0.7878787878787881), (288, 0.1200000000000001), (839, 1.807017543859649), (757, 0.6325301204819276), (100, -1.5416666666666665), (42, 1.2732240437158469), (576, 0.4722222222222223), (334, 1.4804804804804803), (458, -1.6885245901639343), (248, 1.4285714285714284), (659, -0.7905759162303663), (63, 0.881720430107527), (422, 0.5416666666666665), (864, 1.17687074829932), (554, 0.42982456140350855), (901, 0.14516129032258052), (227, 0.5517241379310347), (851, 1.54066985645933), (844, 1.4938271604938271), (286, -1.5416666666666665), (327, -0.5416666666666665), (592, 1.186111111111111), (776, 1.5333333333333332), (513, 0.6363636363636367), (481, 0.017857142857142794), (797, 2.3461538461538463), (48, 0.21212121212121193), (535, 1.0642201834862384), (664, 1.2530120481927711), (169, 1.0270270270270272), (848, 0.7133333333333329), (344, 1.331578947368421), (838, 0.881720430107527), (382, -2.4716981132075473), (369, 1.0), (30, -0.7674418604651163), (62, 1.6982758620689653), (630, -0.32407407407407396), (613, 0.6785714285714288), (475, 1.4583333333333335), (862, 0.6363636363636367), (742, 0.5384615384615383), (503, 0.9812500000000002), (360, 0.039215686274509665), (933, 1.3532608695652173), (244, 1.3487394957983194), (580, 1.4468085106382977)}

### **Implement Weighted Random Walks**

#### **Random Walk-Based Movie Recommendation System (Weighted Pixie)**

#### **Objective**
In this task, you will implement a **random-walk-based recommendation algorithm** using the **Weighted Pixie** method. This technique uses a **user-movie bipartite graph** to recommend movies by simulating a random walk from a given user or movie.

#### **Step 1: Import Required Libraries**
Make sure you have the necessary libraries:

```python
import random  # For random walks
import pandas as pd  # For handling data
```

In [41]:
import random

    #### **Step 2: Implement the Random Walk Algorithm**
    Your task is to **simulate a random walk** from a given starting point in the **bipartite user-movie graph**.

    ##### **Hints for Implementation**
    - Start from **either a user or a movie**.
    - At each step, **randomly move** to a connected node.
    - Keep track of **how many times each movie is visited**.
    - After completing the walk, **rank movies by visit count**.

In [ ]:
def weighted_random_walk(n_steps: int, user_id: int = None, movie_id: int = None) -> dict:
    current_node = movie_id if movie_id is not None else user_id
    visits = {}
    steps_completed = 0

    if not movie_id and not user_id:
        raise ValueError("either user_id or movie_id must be provided")
    
    while steps_completed < n_steps:
        if current_node in movies.index:
            visits[current_node] = visits.get(current_node, 0) + 1
            steps_completed += 1
    
        neighbors = list(graph[current_node])
        nodes = [neighbor[0] for neighbor in neighbors]
        weights = [neighbor[1] for neighbor in neighbors]

        # if sum weights < 1, choose uniformly
        if sum(weights) <= 0:
            current_node = random.choices(nodes)[0]
        else:
            current_node = random.choices(nodes, weights)[0]

    return dict(sorted(list(visits.items()), key = lambda x: x[1], reverse = True))

In [97]:
weighted_random_walk(n_steps = 100, user_id = 5)

{100: 3,
 5: 2,
 291: 2,
 144: 2,
 742: 2,
 409: 2,
 154: 1,
 94: 1,
 176: 1,
 643: 1,
 4: 1,
 352: 1,
 436: 1,
 787: 1,
 350: 1,
 519: 1,
 745: 1,
 663: 1,
 978: 1,
 251: 1,
 158: 1,
 283: 1,
 195: 1,
 933: 1,
 163: 1,
 934: 1,
 887: 1,
 13: 1,
 88: 1,
 712: 1,
 419: 1,
 330: 1,
 58: 1,
 535: 1,
 174: 1,
 554: 1,
 56: 1,
 445: 1,
 184: 1,
 57: 1,
 199: 1,
 426: 1,
 823: 1,
 401: 1,
 805: 1,
 428: 1,
 327: 1,
 302: 1,
 269: 1,
 525: 1,
 747: 1,
 664: 1,
 603: 1,
 99: 1,
 648: 1,
 546: 1,
 255: 1,
 870: 1,
 235: 1,
 457: 1,
 12: 1,
 690: 1,
 79: 1,
 347: 1,
 686: 1,
 127: 1,
 159: 1,
 790: 1,
 880: 1,
 731: 1,
 143: 1,
 339: 1,
 1258: 1,
 393: 1,
 1285: 1,
 642: 1,
 732: 1,
 405: 1,
 1065: 1,
 59: 1,
 845: 1,
 310: 1,
 116: 1,
 148: 1,
 214: 1,
 659: 1,
 253: 1,
 132: 1,
 683: 1,
 321: 1,
 20: 1,
 296: 1,
 1142: 1}

In [99]:
weighted_random_walk(n_steps = 10, movie_id = 100)

{100: 1,
 692: 1,
 487: 1,
 128: 1,
 433: 1,
 476: 1,
 318: 1,
 493: 1,
 274: 1,
 148: 1}

#### **Step 3: Implement User-Based Recommendation**
**Hints:**
- Check if the `user_id` exists in the `graph`.
- Start a loop that runs for `walk_length` steps.
- Randomly pick a **connected node** (user or movie).
- Track how many times each **movie** is visited.
- Sort movies by visit frequency and return the **top N**.

#### **Step 4: Implement Movie-Based Recommendation**
**Hints:**
- Find the `movie_id` corresponding to the given `movie_name`.
- Ensure the movie exists in the `graph`.
- Start a random walk from that movie.
- Follow the same **tracking and ranking** process as the user-based version.

**Note:**  
**Your task:** Implement a function `weighted_pixie_recommend(user_id, walk_length=15, num=5)` or `weighted_pixie_recommend(movie_name, walk_length=15, num=5)`.  
**Implement either Step 3 or Step 4.**

In [78]:
def weighted_pixie_recommend(movie_name: str, walk_length: int = 15, num: int = 5) -> pd.DataFrame:
    # 1: find movie_id given movie_name
    try:
        movie_id = movies[movies['title'] == movie_name]['movie_id'].tolist()[0]
    except IndexError:
        raise ValueError(f'Movie "{movie_name}" not found in database') 

    # 2: make sure it exists in the graph
    if movie_id not in graph:
        raise ValueError(f'Movie "{movie_name}" not found in graph.')

    # 3/4/5: random walk
    ranked = weighted_random_walk(walk_length, movie_id = movie_id)
    ranked.pop(movie_id, None) # remove existing movie_id from ranked if inside 
    top_n_movie_ids = list(ranked.keys())[:num]
    movie_names = [movies.loc[movies['movie_id'] == m_id, 'title'].iloc[0] for m_id in top_n_movie_ids]

    # 6: return dataframe
    return pd.DataFrame({
        'Ranking': range(1, num + 1),
        'Movie Name': movie_names
    })

#### **Step 5: Running Your Recommendation System**
Once your function is implemented, test it by calling:

##### **Example: User-Based Recommendation**
```python
weighted_pixie_recommend(1, walk_length=15, num=5)
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | My Own Private Idaho (1991)   |
| 2       | Aladdin (1992)                |
| 3       | 12 Angry Men (1957)           |
| 4       | Happy Gilmore (1996)          |
| 5       | Copycat (1995)                |


##### **Example: Movie-Based Recommendation**
```python
weighted_pixie_recommend("Jurassic Park (1993)", walk_length=10, num=5)
```
| Ranking | Movie Name                           |
|---------|-------------------------------------|
| 1       | Rear Window (1954)                 |
| 2       | Great Dictator, The (1940)         |
| 3       | Field of Dreams (1989)             |
| 4       | Casablanca (1942)                  |
| 5       | Nightmare Before Christmas, The (1993) |

#### **Step 6: Understanding the Results**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

Each movie is ranked based on **how frequently it was visited** during the walk.

#### **Experiment with Different Parameters**
- Try different **`walk_length`** values and observe how it changes recommendations.
- Adjust the number of recommended movies (`num`).

In [84]:
weighted_pixie_recommend("Jurassic Park (1993)", walk_length = 10)

   Ranking                         Movie Name
0        1  Jackie Chan's First Strike (1996)
1        2       Devil's Advocate, The (1997)
2        3   Secret of Roan Inish, The (1994)
3        4                 Eve's Bayou (1997)
4        5                     Sabrina (1954)

In [91]:
weighted_pixie_recommend("Jurassic Park (1993)", walk_length = 100, num = 10)

   Ranking                               Movie Name
0        1                       Chasing Amy (1997)
1        2                      True Romance (1993)
2        3                       Money Talks (1997)
3        4               Sound of Music, The (1965)
4        5                           Titanic (1997)
5        6  Amityville 1992: It's About Time (1992)
6        7            Independence Day (ID4) (1996)
7        8                      Citizen Kane (1941)
8        9               Wrong Trousers, The (1993)
9       10                            Aliens (1986)

In [92]:
weighted_pixie_recommend("Jurassic Park (1993)", walk_length = 1000, num = 10)

   Ranking                          Movie Name
0        1             Mighty Aphrodite (1995)
1        2                        Fargo (1996)
2        3          Mission: Impossible (1996)
3        4          Princess Bride, The (1987)
4        5      Raiders of the Lost Ark (1981)
5        6  Mary Shelley's Frankenstein (1994)
6        7                   Old Yeller (1957)
7        8                      Titanic (1997)
8        9                  Ulee's Gold (1997)
9       10                  Sling Blade (1996)

In [93]:
weighted_pixie_recommend("Jurassic Park (1993)", walk_length = 10000, num = 20)

    Ranking                                    Movie Name
0         1                    Mission: Impossible (1996)
1         2                        Full Monty, The (1997)
2         3                         Godfather, The (1972)
3         4                                  Fargo (1996)
4         5                     Return of the Jedi (1983)
5         6                      Leaving Las Vegas (1995)
6         7                       Mighty Aphrodite (1995)
7         8               Star Trek: First Contact (1996)
8         9                Raiders of the Lost Ark (1981)
9        10                                Titanic (1997)
10       11                                   Jaws (1975)
11       12  Willy Wonka and the Chocolate Factory (1971)
12       13                              Toy Story (1995)
13       14     Butch Cassidy and the Sundance Kid (1969)
14       15                            Chasing Amy (1997)
15       16                          Donnie Brasco (1997)
16       17                         Twelve Monkeys (1995)
17       18                           Pulp Fiction (1994)
18       19                           Evil Dead II (1987)
19       20                   English Patient, The (1996)

---

## **Submission Requirements:**

To successfully complete this assignment, ensure that you submit the following:


### **1. Jupyter Notebook Submission**
- Submit a **fully completed Jupyter Notebook** that includes:
  - **All implemented recommendation functions** (user-based, item-based, and random walk-based recommendations).
  - **Code explanations** in markdown cells to describe each step.
  - **Results and insights** from running your recommendation models.


### **2. Explanation of Pixie-Inspired Algorithms (3-5 Paragraphs)**
- Write a **detailed explanation** of **Pixie-inspired random walk algorithms** used for recommendations.
- Your explanation should cover:
  - What **Pixie-inspired recommendation systems** are.
  - How **random walks** help in identifying relevant recommendations.
  - Any real-world applications of such algorithms in industry.


### **3. Report for the Submitted Notebook**
Your report should be structured as follows:

#### **Title: Movie Recommendation System Report**

#### **1. Introduction**
- Briefly introduce **movie recommendation systems** and why they are important.
- Explain the **different approaches used** (user-based, item-based, random-walk).

#### **2. Dataset Description**
- Describe the **MovieLens 100K dataset**:
  - Number of users, movies, and ratings.
  - What features were used.
  - Any preprocessing performed.

#### **3. Methodology**
- Explain the three recommendation techniques implemented:
  - **User-based collaborative filtering** (how user similarity was calculated).
  - **Item-based collaborative filtering** (how item similarity was determined).
  - **Random-walk-based Pixie algorithm** (why graph-based approaches are effective).
  
#### **4. Implementation Details**
- Discuss the steps taken to build the functions.
- Describe how the **adjacency list graph** was created.
- Explain how **random walks** were performed and how visited movies were ranked.

#### **5. Results and Evaluation**
- Present **example outputs** from each recommendation approach.
- Compare the different methods in terms of accuracy and usefulness.
- Discuss any **limitations** in the implementation.

#### **6. Conclusion**
- Summarize the key takeaways from the project.
- Discuss potential improvements (e.g., **hybrid models, additional features**).
- Suggest real-world applications of the methods used.

### **Submission Instructions**

- Submit `.zip` file consisting of Jupyter Notebook and all the datafiles (provided) and the ones saved [i.e. `users.csv`, `movies.csv` and `ratings.csv`]. Also, include the Report and Pixie Algorithm explanation document.
- [`Bonus 10 Points`] **Upload your Jupyter Notebook, Explanation Document, and Report** to your GitHub repository.
- Ensure the repository is public and contains:
  - `users.csv`, `movies.csv` and `ratings.csv` [These are the Dataframes which were created in part 1. Save and export them as a `.csv` file]
  - `Movie_Recommendation.ipynb`
  - `Pixie_Algorithm_Explanation.pdf` or `.md`
  - `Recommendation_Report.pdf` or `.md`
- **Submit the GitHub repository link in the cell below.**


#### **Example Submission Format**
```text
GitHub Repository: https://github.com/username/Movie-Recommendation
```

In [ ]:
# Submit the Github Link here:
# https://github.com/zhutchens/Movie-Recommendation

### **Grading Rubric: ITCS 6162 - Data Mining Assignment**


| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **Part 1: Exploring and Cleaning Data (15 pts)**  | Properly loads `u.user`, `u.movies`, and `u.item` datasets into DataFrames | 5 |
|                                           | Handles missing values, duplicates, and inconsistencies appropriately | 5 |
|                                           | Saves the cleaned datasets into CSV files: `users.csv`, `movies.csv`, `ratings.csv` | 5 |
| **Part 2: Collaborative Filtering-Based Recommendation (30 pts)** | Implements user-based collaborative filtering correctly | 10 |
|                                           | Implements item-based collaborative filtering correctly | 10 |
|                                           | Computes similarity measures accurately and provides valid recommendations | 10 |
| **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm) (35 pts)** | Constructs adjacency lists properly from user-movie interactions | 10 |
|                                           | Implements weighted random walk-based recommendation correctly | 15 |
|                                           | Explains and justifies the algorithm design choices (Pixie-inspired) | 10 |
| **Code Quality & Documentation (10 pts)** | Code is well-structured, efficient, and follows best practices | 5 |
|                                           | Markdown explanations and comments are clear and enhance understanding | 5 |
| **Results & Interpretation (5 pts)**      | Provides meaningful insights from the recommendation system's output | 5 |
| **Submission & Report (5 pts)**          | Submits all required files in the correct format (ZIP file with Jupyter notebook, processed CSV files, and project report) | 5 |
| **Total**                                 |                              | 100 |

#### **Bonus (10 pts)**
| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **GitHub Submission**                     | Provides a well-documented GitHub repository with CSV files, a structured README, and a properly formatted Jupyter Notebook | 10 |